---
layout: layouts/base.njk
title: About
date: 2020-09-26
---

<div id="container">
  <img id="about-photo" src="/static/aj_percy_small.jpg" alt="A picture of me and my cat" />
  <h1>About me</h1>
  <p>
    Hi, welcome to my blog. My name is AJ Jenkins (he/him).
    I'm <span id="my-age"></span> years old and I live in Boston, MA.
    As of {{ page.date.getFullYear() }}, I'm working as an engineering manager at a healthcare tech company.
    You can see what I'm doing now on <a href="https://www.linkedin.com/in/aj-jenkins-73113343/">LinkedIn</a>.
  <p>

  <p>
    Pictured above is me in 2019 with the cat who lives with me sometimes.
    His name is Percy.
    If you're wondering, I didn't train him to sit on my shoulders.
    He trained me to stand still whenever he wanted to sit on my shoulders 😸
  </p>

  <p>
    I like movies, video games, anime, EDM, science, technology, and sailing.
    I made this blog because I had some ideas for blog posts that I wasn't
    seeing other people write about online and I thought other people might want to read.
    But the internet is a big place, so I'm probably not as original as I think I am 🤷🏼‍♂️
    I have no intention of trying to make money from this blog. I also don't want anyone
    else to profit off of my blog, which is why I decided to self-host
    (I'm using <a href="https://www.netlify.com">Netlify</a>).
  <p>

  <h1>Things I like</h1>
  <h2>Favorite Movies</h2>
  <ul>
    <li>The Matrix</li>
    <li>Oldboy</li>
    <li>Seven Samurai</li>
    <li>Spirited Away</li>
    <li>Mind Game</li>
    <li>Blade Runner</li>
  </ul>

  <h2>Favorite TV Shows</h2>
  <h3>Live Action</h3>
    <ul>
      <li>Stella</li>
      <li>It's Always Sunny In Philadelphia</li>
      <li>Stranger Things</li>
      <li>Dark</li>
      <li>Twin Peaks</li>
      <li>Arrested Development</li>
    </ul>

    <h3>Anime</h3>
    <ul>
      <li>Fullmetal Alchemist: Brotherhood</li>
      <li>Hunter x Hunter</li>
      <li>Dragon Ball (OG, Z, and Super)</li>
    </ul>

  <h2>Favorite Video Games</h2>
  <ul>
    <li>Final Fantasy X</li>
    <li>Halo 2</li>
    <li>Metal Gear Solid 4</li>
    <li>Shadow of the Colossus</li>
    <li>Katamari Damacy</li>
  </ul>

  <h2>Favorite EDM producers</h2>
  <ul>
    <li>Marshmello</li>
    <li>Seven Lions</li>
    <li>Adventure Club</li>
    <li>The Chainsmokers (pre-2018)</li>
    <li>San Holo</li>
    <li>Vanic</li>
    <li>Illenium</li>
    <li>Deadmau5</li>
    <li>Gryffin</li>
    <li>Jai Wolf</li>
    <li>Zeds Dead</li>
  </ul>

  <h1>Contact Info</h1>
  <p>
    I don't really use social media, so the best way to get in touch with me is email.
    My email address is <a href="mailto:aj.jenkins123@gmail.com">aj.jenkins123@gmail.com</a>.
    Get at me webcrawlers 😜
  </p>
<div>

<script>
  // https://stackoverflow.com/a/21984136/1494777
  function whatsMyAgeAgain(dob) {
    var ageDiffMs = Date.now() - dob.getTime();
    var ageDate = new Date(ageDiffMs); // miliseconds from epoch
    return Math.abs(ageDate.getUTCFullYear() - 1970);
  }

  var dob = new Date('1992-04-16');
  var myAge = whatsMyAgeAgain(dob);

  document.getElementById('my-age').innerHTML = myAge;
</script>