<section id="comments-section">
<h1>Comments ✍️</h1>

{% if comments[page.fileSlug] %}
  {% for comment in comments[page.fileSlug] | list %}
    <div class="comment-entry">
      <h4 class="comment-author">By: {{ comment.value.name or "Anonymous" }}</h4>
      <time class="comment-date" datetime="{{ (comment.value.date | date).toISOString() }}">
        {{ comment.value.date | date | formatDateTime }}
      </time>
      <p class="comment-body">{{ comment.value.body }}</p>
    </div>
  {% endfor %}
{% else %}
  <p>No comments yet. Be the first!</p>
{% endif %}

<h2>Leave a comment</h2>
<form id="comment-form" name="comment-form" method="POST" action="{{ staticman_url }}">
  <input name="options[redirect]" type="hidden" value="{{ baseUrl + page.url }}">
  <input name="options[slug]" type="hidden" value="{{ page.fileSlug }}">

  <div id="required-control">
    <label>Required
      <input type="text" name="fields[required]" tabindex="-1" autocomplete="off">
    </label>
  </div>

  <div id="name-control">
    <label>Name
      <input type="text" name="fields[name]" placeholder="Anonymous" maxlength="1000" size="32">
    </label>
  </div>

  <div id="body-control">
    <label>Comment
      <textarea id="comment-body-input" name="fields[body]" required maxlength="10000" rows="10"></textarea>
    </label>
  </div>

  <div id="submit-button-control">
    <input type="submit" value="Submit">
  </div>
</form>
</section>