<section id="comments-section">
<h1>Comments</h1>

<div class="comment">
  <h4 class="comment-author">Test Name</h4>
  <time class="comment-submitted-at">2020-01-01</time>
  <p class="comment-body">
    I thought that was a really good article. I enjoyed reading it!
    I hope in your next article you talk about more cool stuff. Please
    write an article about your favorite movies. Everyone would love
    to know what your favorite movies are. I bet they're really funny!
  </p>
</div>

<h2>Leave a comment</h2>
<form id="comment-form" name="comment-form" method="POST" netlify-honeypot="required-input" data-netlify="true">
  <div id="required-input-control">
    <label for="required-input">Required</label>
    <input type="text" id="required-input" name="required-input" tabindex="-1" autocomplete="off">
  </div>

  <div id="name-input-control">
    <label for="name-input">Name</label>
    <input type="text" id="name-input" name="name-input" placeholder="Anonymous" maxlength="1000" size="32">
  </div>

  <div id="comment-input-control">
    <label for="comment-input">Comment</label>
    <textarea id="comment-input" name="comment-input" required maxlength="10000" rows="10"></textarea>
  </div>

  <div id="submit-button-control">
    <input type="submit" value="Submit">
  </div>
</form>
</section>