{% macro email_signup(form_name, message='') %}
<div class="email-signup-form">
  <p class="signup-form-message">{{ message }}</p>
  <form name="{{ form_name }}" method="POST" data-netlify="true">
    <input type="text" name="email" placeholder="address@email.com">
    <input type="submit" value="Sign Up">
  </form>
</div>
{% endmacro %}