body {
  background: #fff;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}

main {
  margin: 1.5rem;
}

article,
#container,
#comments-section {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

p.subtitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 200;
}

img,
iframe {
  max-width: 40rem;
  width: 100%;
  height: auto;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

li {
  line-height: 1.5rem;
}

a {
  color: -webkit-link;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.footnote {
  vertical-align: super;
  font-size: 0.8em;
}

time {
  font-size: 0.8em;
  color: #555;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#main-logo {
  width: 8rem;
  margin: 0 1rem;
}

#github-mark {
  width: 3rem;
  margin: 0 1rem;
}

#about-link {
  margin: 0 1rem;
  font-size: 2rem;
}

/* Comments section */
.comment-entry {
  margin-top: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 1rem;
}

.comment-author,
.comment-submitted-at,
.comment-body {
  margin: 0.5rem 0;
}

#comment-form > div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

#comment-body-input {
  box-sizing: border-box;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Honeypot field */
#required-control {
  display: none;
}

/* Home Page */
.publication-date {
  color: #555;
}

/* About Page */
#about-photo {
  width: 20rem;
  margin: auto;
  display: block;
  border-radius: 50%;
}

/* Email Sign-Up Form */
div.email-signup-form {
  border: 1px solid #888;
  border-radius: 0.5rem;
  margin: 3rem 0;
  padding: 1.5rem;
  box-shadow: 1px 1px 2px #aaa;
}

div.email-signup-form > p {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}

div.email-signup-form > form {
  display: flex;
  margin-top: 1rem;
}

div.email-signup-form > form > input[type='email'] {
  flex-grow: 1;
  font-size: 1rem;
  margin-right: 0.5rem;
}

div.email-signup-form > form > input[type='submit'] {
  background-color: #ff8000;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.5rem;
  -webkit-appearance: none;
}

/* Utilities */
.redacted {
  color: black;
  background-color: black;
}

.redacted::selection {
  background-color: black;
}
