<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="AJ's personal blog" />
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <a href="{{ '/' | url }}"><img id="main-logo" src="/static/aj_logo.svg" alt="AJ" /></a>
      <a href="https://github.com/ajenkins/blog">
        <img id="github-mark" src="/static/GitHub-Mark.png" alt="Link to GitHub repo">
      </a>
      <a href="{{ '/about' | url }}" id="about-link">
        About
      </a>
    </nav>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
