---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article>
  <h1>{{ title }}</h1>
  <time datetime="{{ page.date.toISOString() }}">
    {{ page.date.toDateString() }}
  </time>
  {{ content | safe }}
</article>

<p><a href="{{ '/' | url }}">Back to Home</a></p>